{% extends 'base.jinja' %}

{% block content %}
    <h2>Add Pokemon to Your Collection</h2>
    <form action="" method="post">
        {{ add_pokemon_form.hidden_tag() }}
        <p>
        {{ add_pokemon_form.name.label }} <br>
        {{ add_pokemon_form.name(size=32) }}
        {% for error in add_pokemon_form.name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </p>

        <p>
        {{ add_pokemon_form.submit(class='btn btn-primary') }}
        </p>
    </form>
{% endblock %}
